@font-face {
  font-family: AcromEB;
  src: url('fonts/AcromEB.woff') format("woff"),
       url('fonts/AcromEB.woff2') format("woff2");
}

@font-face {
  font-family: AcromR;
  src: url('fonts/AcromR.woff') format("woff"),
       url('fonts/AcromR.woff2') format("woff2");
}

@font-face {
  font-family: AcromM;
  src: url('fonts/AcromM.woff') format("woff"),
       url('fonts/AcromM.woff2') format("woff2");
}